@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #dce0e4; */
  /* background: url(../assets/images/bg2.png); */
  background: linear-gradient(
      45deg,
      transparent 49%,
      #ffffff 49% 51%,
      transparent 51%
    ),
    linear-gradient(-45deg, transparent 49%, #ffffff 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #f1f6f9;
  opacity: 1;
}

nav {
  background-color: #ffffff;
  box-shadow: 0px 0 2px #c1c1c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  font-size: large;
  margin-right: 40px;
}

nav ul li .active {
  font-weight: bold;
  color: orangered;
}

nav ul li a {
  color: black;
  transition: color 0.5s ease-in-out;
}

nav ul li a:hover {
  color: orange;
}

.nav-right {
  text-align: end;
  margin-right: 45px;
}

.nav-right button {
  border: none;
}

#dark-mode {
  background-color: transparent;
  margin: 2em;
}

.nav-right a {
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.nav-right a:hover {
  background-color: orangered;
}

.container {
  background-color: white;
  display: flex;
  margin: 45px 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px #c1c1c1;
}

.left {
  flex: 70%;
  margin: 0 50px 0;
  align-items: center;
}

.container .left p {
  text-align: justify;
}

.right {
  flex: 30%;
  text-align: center;
  box-shadow: 0 10px 10px #c1c1c1;
  border-radius: 10px;
}

.right img {
  width: 100%;
  height: 380px;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.contact-cv {
  margin: 45px 0;
}

.contact-cv button {
  background-color: black;
  color: white;
  margin-right: 20px;
  padding: 5px 25px;
  font-size: 17px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.contact-cv a:hover {
  color: orangered;
}
.contact-cv button:hover {
  background-color: orangered;
}

.social-media a {
  margin-right: 20px;
}

/* styling contact.html */
form {
  width: 500px;
  margin: 25px auto;
  background-color: white;
  padding: 5em;
  box-shadow: 0 2px 3px #c1c1c1;
  border-radius: 5px;
}
form h1 {
  text-align: center;
  margin-top: -1em;
}

form button {
  width: fit-content;
  background-color: black;
  color: white;
  font-size: medium;
  padding: 8px 35px;
  border-radius: 5px;
  margin: 20px 0 0 auto;
  cursor: pointer;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  margin-top: 3px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: #c1c1c1;
  box-shadow: 0 0 3px #c1c1c1;
  resize: none;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* --------------------------STYLING HUMBERGER NAV----------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  animation-name: slide-in;
  animation-duration: 0.5s;
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-active {
  font-weight: bolder;
}

.hamburger-nav-container a {
  display: none;
  justify-content: center;
  padding: 10px;
  color: black;
  background-color: #ffffff;
}
.hamburger-nav-container a:hover {
  color: orangered;
  transition: color 0.5s;
}

.hamburger-nav-container button {
  background-color: black;
  color: white;
  padding: 5px 13px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.hamburger-nav-container button:hover {
  background-color: orangered;
  transition: background-color 0.5s;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* --------------------------styling responsive index.html----------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  #barsmenu {
    display: flex;
  }
  .hamburger-nav-container {
    display: none;
  }
  .hamburger-nav-container a {
    display: flex;
  }
  .item-collapse {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .social-media {
    text-align: center;
    margin-top: -20px;
  }

  .right {
    width: 23em;
    margin: auto;
  }

  form {
    padding: 2em;
  }

  form h1 {
    margin-top: auto;
  }
}

@media only screen and (max-width: 615px) {
  .container {
    margin: 0px;
  }

  .left {
    margin: 0;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    margin: -10px;
  }
  .contact-cv button {
    margin: 0;
    font-size: 14px;
  }

  .contact-cv {
    font-size: 13px;
    margin: 25px;
  }
  .social-media {
    margin: auto;
  }
  .social-media img {
    width: 40px;
  }

  .social-media a {
    margin: 0;
  }
}

/* styling  responsive contact.html */
@media only screen and (max-width: 535px) {
  form {
    width: auto;
    margin: 20px;
    padding: 1em;
  }
}
