body {
  background-color: rgb(255, 255, 255);
}
.parent-testimonial {
  margin: 2em;
}

.parent-testimonial h1 {
  margin: 0;
  text-align: center;
  padding: 1em;
}

.container-testimonial {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  justify-content: center;
  gap: 1.3em;
}

.card-testimonial {
  width: 22em;
  height: 18em;
  box-shadow: 0px 2px 8px 0px rgba(111, 111, 111, 0.2);
  padding: 1em;
  background-color: #d6c8b0;
}

.card-testimonial img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.card-testimonial:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.card-testimonial p {
  font-size: small;
}

.card-testimonial .author {
  font-weight: bolder;
  text-align: end;
}

@media only screen and (max-width: 1200px) {
  .container-testimonial {
    grid-template-columns: repeat(2, 0.1fr);
  }
  .card-testimonial {
    width: 20em;
  }
}

@media only screen and (max-width: 750px) {
  .container-testimonial {
    grid-template-columns: repeat(1, 0.1fr);
  }
}

@media only screen and (max-width: 395px) {
  .card-testimonial {
    width: 18em;
    height: 18em;
  }
}
