#theme-switch {
  background-color: transparent;
  margin-right: 2em;
  cursor: pointer;
}
.dark-mode {
  /* #dark-logo {
    display: block;
  } */

  background: linear-gradient(
      45deg,
      transparent 49%,
      #0f100f 49% 51%,
      transparent 51%
    ),
    linear-gradient(-45deg, transparent 49%, #0f100f 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #202220;
  opacity: 1;

  & .container {
    background-color: #0f100f;
    box-shadow: none;
  }
  & nav {
    background-color: #0f100f;
  }
  & nav ul li a.active {
    color: rgb(255 135 92);
  }

  & nav ul li a {
    color: antiquewhite;
  }

  & nav .nav-right button i {
    color: white;
  }
  .container .left h1 {
    color: antiquewhite;
  }
  & .container .left p {
    color: #eaf3ea;
  }
  .contact-cv a,
  i {
    color: #eaf3ea;
  }
  .right,
  h2,
  p {
    box-shadow: none;
    color: antiquewhite;
  }

  /* -------------styling myproject.html------------- */
  & form {
    background-color: #8d8d8d;
  }
  .pembungkus-container-project {
    padding: 80px;
    background-color: #202220;
  }

  .container-project .card-project {
    background-color: #8d8d8d;
    box-shadow: none;
  }
  .container-project .card-project .description p {
    color: black !important;
  }
  .container-project .card-project .duration h4 {
    color: black;
  }

  /* -------------styling testimonial.html------------- */
  .parent-testimonial h1,
  h4 {
    color: antiquewhite;
  }
  .card-testimonial {
    background-color: #8d8d8d;
  }
  .card-testimonial p,
  i {
    color: black;
  }

  /* -------------styling blog.html------------- */
  .container-blog {
    background-color: #0f100f;
    padding: 1em 3em 2em 3em;
  }
  .container-blog h1 {
    color: antiquewhite;
  }
  .header-blog .right-blog {
    margin-left: 10px;
  }
  .container-blog .header-blog .right-blog i {
    color: #eaf3ea;
  }
}
