<!DOCTYPE html>
<html>
  <head>
    <title>Contact Me</title>
    <link
      rel="shortcut icon"
      href="public/images/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary-subtle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://dumbways.id/" target="_blank">
          <img src="public/images/logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-start"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              {{if .DataSession.IsLogin}}
              <a class="nav-link" href="myproject">MY PROJECT</a>
              {{end}}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">TESTIMONIAL</a>
            </li>
          </ul>
          <div class="d-flex flex-lg-row justify-content-center flex-column">
            {{if .DataSession.IsLogin}}
            <form id="logoutform" action="/logout" method="POST"></form>
            <div class="dropdown-center btn-dropdown-logout">
              <a
                class="btn dropdown-toggle ps-0 mb-0"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                style="border: none"
              >
                Hello, {{.DataSession.Name}}
              </a>

              <ul
                class="dropdown-menu text-lg-end text-start m-0 pt-0 bg-body-tertiary"
                style="border: none"
              >
                <a
                  class="dropdown-item bg-body-tertiary ps-0"
                  href="#"
                  style="border: none"
                  onclick="document.getElementById('logoutform').submit()"
                  >Logout</a
                >
              </ul>
            </div>
            {{else}}
            <div>
              <a class="btn btn-close-white fs-6 me-2 ps-0" href="form-login"
                >Login</a
              >
            </div>
            {{end}}
            <div>
              <a class="btn btn-dark" href="#" role="button">Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="p-3">
      <form class="m-auto" style="max-width: 500px">
        <h1 class="mb-3 text-center fw-bold">GET IN TOUCH</h1>

        <div class="mb-3">
          <label for="name" class="form-label fw-bold">Name</label>
          <input type="text" class="form-control" id="input-name" required />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label fw-bold">Email</label>
          <input type="email" class="form-control" id="input-email" required />
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label fw-bold">Phone Number</label>
          <input type="number" class="form-control" id="input-phone" required />
        </div>

        <div class="mb-3">
          <label for="subject" class="form-label fw-bold">Subject</label>
          <select class="form-select" id="input-subject" required>
            <option value="" hidden></option>
            <option value="frontend">Frontend</option>
            <option value="backend">Backend</option>
            <option value="fullstack">Fullstack</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label fw-bold">Your Message</label>
          <textarea
            class="form-control"
            id="input-message"
            style="resize: none; height: 100px"
            required
          ></textarea>
        </div>

        <div class="mb-3 text-end">
          <button
            class="btn btn-dark rounded-pill fw-bold px-4"
            type="submit"
            onclick="submitData()"
          >
            submit
          </button>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="public/js/contact.js"></script>
  </body>
</html>
