<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link
      rel="shortcut icon"
      href="public/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="public/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://dumbways.id/" target="_blank">
          <img src="public/images/logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="/"
                >HOME</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="add-project">ADD PROJECT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">TESTIMONIAL</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <a class="btn btn-dark" href="contact" role="button">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="bg-secondary-subtle p-sm-5">
      <div class="container bg-light">
        <div
          class="card-body p-md-5 d-flex align-items-center flex-lg-row flex-sm-column flex-column"
        >
          <div class="container-index align-items-center" style="flex: 70%">
            <h1 class="fw-bold">こんにちは、私のプロフィールへようこそ</h1>
            <p>
              Monkey D. Luffy Wa, oda eiichirō ni yoru anime oyobi manga shirīzu
              “wanpīsu” ni tōjō suru kakū no jinbutsudeari, shujinkōdesu. Kare
              wa kakumei-gun no rīdādearu monkī D doragon no mi no musukodeari,
              yūmeina kaihei-tai no monkī D gāpu no mi no magodeari, sanzoku
              kārī dadan no yōshideari, soshite `faiā' no yōshidearu kyōdaidesu.
              Ken' pōtogasu D ēsu to sabo. Kare no jinsei no mokuhyō wa, sendai
              kaizoku-ō gōru D rojā ga nokoshita densetsu no hihō `wanpīsu' o
              mitsukete kaizoku-ō ni naru koto. Kare wa kaizoku-ō ni nareba,
              sekai de ichiban jiyūna ningen ni nareru to shinjite iru. Gomu
              gomu to iu akuma no mi o tabemashita. Kono kajitsu wa kare ni
              kyokugei-shi no chikara o ataeru.
            </p>
            <div class="button-contact d-flex flex-row flex-wrap gap-3 my-3">
              <button
                type="button"
                onclick="location.href='https://api.whatsapp.com/send/?phone=6281211705891&text&type=phone_number&app_absent=0'"
                class="btn btn-dark rounded-pill px-4"
              >
                contact
              </button>
              <a
                href="https://id.wikipedia.org/wiki/Monkey_D._Luffy"
                target="_blank"
                class="my-auto"
                style="text-decoration: none; color: #000000"
                >download
                <i class="fa-solid fa-download" style="color: #000000"></i
              ></a>
            </div>
            <div class="social-media mt-lg-5 my-4 text-center text-lg-start">
              <a
                href="https://www.linkedin.com/in/angganurardiansyah/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in fa-2xl pe-3"></i
              ></a>
              <a
                href="https://www.instagram.com/angganurardiansyah/"
                target="_blank"
                ><i class="fa-brands fa-instagram fa-2xl pe-3"></i
              ></a>
              <a href="https://facebook.com" target="_blank"
                ><i class="fa-brands fa-youtube fa-2xl pe-3"></i
              ></a>
              <a href="https://twitter.com" target="_blank"
                ><i class="fa-brands fa-twitter fa-2xl pe-3"></i
              ></a>
            </div>
          </div>

          <div
            class="card justify-content-center"
            style="width: 18em; flex: 30%"
          >
            <img
              class="card-img-top"
              style="width: 100%; height: 380px; object-fit: cover"
              src="public/images/luffy.jpg"
              alt="photo luffy"
            />
            <div class="card-body">
              <div class="fw-bold text-center" style="align-self: center">
                <h2 class="fw-bold">Monkey D.Luffy</h2>
              </div>
              <div class="text-center" style="align-self: center">
                Fullstack Developer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-xl container-md-fluid d-flex flex-column py-5">
      <h1 class="fw-bold text-center">MY PROJECT</h1>
      <div class="d-flex justify-content-center mt-2">
        <a class="btn btn-dark" href="add-project" role="button">ADD PROJECT</a>
      </div>
      <div class="d-flex flex-wrap gap-5 justify-content-center my-5">
        {{range $index, $data := .Projects}}
        <div class="card card-project">
          <img src="public/images/{{$data.Image}}" alt="" />
          <div class="card-title">
            <p class="card-title fs-6 fw-bold mb-0">
              <a href="project/{{$index}}" target="_blank"
                >{{$data.ProjectName}}</a
              >
            </p>
            <div class="card-duration">durasi: {{$data.Duration}}</div>
            <p class="card-text my-2 text-truncate">{{$data.Description}}</p>
            <div class="d-flex gap-4 my-3" style="width: 100%">
              {{if $data.NodeJs}}
              <i class="fa-brands fa-node-js fa-2x"></i>
              {{end}} {{if $data.ReactJs}}
              <i class="fa-brands fa-react fa-2x"></i>
              {{end}} {{if $data.Golang}}
              <i class="fa-brands fa-golang fa-2x"></i>
              {{end}} {{if $data.Javascript}}
              <i class="fa-brands fa-square-js fa-2x"></i>
              {{end}}
            </div>
            <div
              class="btn-card-index d-flex justify-content-center gap-2"
              style="width: 100%"
            >
              <form
                class="d-inline"
                action="/edit-project/{{$index}}"
                method="GET"
                style="width: 100%"
              >
                <button class="btn btn-dark" style="width: 100%">edit</button>
              </form>
              <form
                class="d-inline"
                action="/delete-project/{{$index}}"
                method="POST"
                style="width: 100%"
              >
                <button class="btn btn-dark" style="width: 100%">delete</button>
              </form>
            </div>
          </div>
        </div>
        {{end}}

        <!-- <div class="card card-project">
          <img src="public/images/img2.png" alt="" />
          <div class="card-title">
            <p class="card-title fs-6 fw-bold mb-0">
              <a href="project/2" target="_blank">Dumbways Mobile App - 2021</a>
            </p>
            <div class="card-duration">durasi: 3 bulan</div>
            <p class="card-text my-2">
              App that is used by dumbways student, it was deployed and can be
              downloaded on playstore. Happy download
            </p>
            <div class="d-flex gap-4 my-3" style="width: 100%">
              <i class="fa-brands fa-google-play fs-3"></i>
              <i class="fa-brands fa-android fs-3"></i>
              <i class="fa-brands fa-java fs-3"></i>
            </div>
            <div class="btn-card-index d-flex gap-2" style="width: 100%">
              <button class="btn btn-dark" style="width: 100%">edit</button>
              <button class="btn btn-dark" style="width: 100%">delete</button>
            </div>
          </div>
        </div>

        <div class="card card-project">
          <img src="public/images/img3.png" alt="" />
          <div class="card-title">
            <p class="card-title fs-6 fw-bold mb-0">
              <a href="project/3" target="_blank">Dumbways Mobile App - 2021</a>
            </p>
            <div class="card-duration">durasi: 3 bulan</div>
            <p class="card-text my-2">
              App that is used by dumbways student, it was deployed and can be
              downloaded on playstore. Happy download
            </p>
            <div class="d-flex gap-4 my-3" style="width: 100%">
              <i class="fa-brands fa-google-play fs-3"></i>
              <i class="fa-brands fa-android fs-3"></i>
              <i class="fa-brands fa-java fs-3"></i>
            </div>
            <div class="btn-card-index d-flex gap-2" style="width: 100%">
              <button class="btn btn-dark" style="width: 100%">edit</button>
              <button class="btn btn-dark" style="width: 100%">delete</button>
            </div>
          </div>
        </div>

        <div class="card card-project">
          <img src="public/images/img4.png" alt="" />
          <div class="card-title">
            <p class="card-title fs-6 fw-bold mb-0">
              <a href="project/4" target="_blank">Dumbways Mobile App - 2021</a>
            </p>
            <div class="card-duration">durasi: 3 bulan</div>
            <p class="card-text my-2">
              App that is used by dumbways student, it was deployed and can be
              downloaded on playstore. Happy download
            </p>
            <div class="d-flex gap-4 my-3" style="width: 100%">
              <i class="fa-brands fa-google-play fs-3"></i>
              <i class="fa-brands fa-android fs-3"></i>
              <i class="fa-brands fa-java fs-3"></i>
            </div>
            <div class="btn-card-index d-flex gap-2" style="width: 100%">
              <button class="btn btn-dark" style="width: 100%">edit</button>
              <button class="btn btn-dark" style="width: 100%">delete</button>
            </div>
          </div>
        </div>

        <div class="card card-project">
          <img src="public/images/img5.png" alt="" />
          <div class="card-title">
            <p class="card-title fs-6 fw-bold mb-0">
              <a href="project/5" target="_blank">Dumbways Mobile App - 2021</a>
            </p>
            <div class="card-duration">durasi: 3 bulan</div>
            <p class="card-text my-2">
              App that is used by dumbways student, it was deployed and can be
              downloaded on playstore. Happy download
            </p>
            <div class="d-flex gap-4 my-3" style="width: 100%">
              <i class="fa-brands fa-google-play fs-3"></i>
              <i class="fa-brands fa-android fs-3"></i>
              <i class="fa-brands fa-java fs-3"></i>
            </div>
            <div class="btn-card-index d-flex gap-2" style="width: 100%">
              <button class="btn btn-dark" style="width: 100%">edit</button>
              <button class="btn btn-dark" style="width: 100%">delete</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
