<!DOCTYPE html>
<html>
  <head>
    <title>Testimonial</title>
    <link
      rel="shortcut icon"
      href="public/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/testimonial.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-secondary-subtle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://dumbways.id/" target="_blank">
          <img src="public/images/logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-start"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              {{if .DataSession.IsLogin}}
              <a class="nav-link" href="myproject">MY PROJECT</a>
              {{end}}
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" href="#">TESTIMONIAL</a>
            </li>
          </ul>

          <div class="d-flex flex-lg-row justify-content-center flex-column">
            {{if .DataSession.IsLogin}}
            <form id="logoutform" action="/logout" method="POST"></form>
            <div class="dropdown-center btn-dropdown-logout">
              <a
                class="btn dropdown-toggle ps-0 mb-0"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                style="border: none"
              >
                Hello, {{.DataSession.Name}}
              </a>

              <ul
                class="dropdown-menu text-lg-end text-start m-0 pt-0 bg-body-tertiary"
                style="border: none"
              >
                <a
                  class="dropdown-item bg-body-tertiary ps-0"
                  href="#"
                  style="border: none"
                  onclick="document.getElementById('logoutform').submit()"
                  >Logout</a
                >
              </ul>
            </div>
            {{else}}
            <div>
              <a class="btn btn-close-white fs-6 me-2 ps-0" href="form-login"
                >Login</a
              >
            </div>
            {{end}}
            <div>
              <a class="btn btn-dark" href="contact" role="button"
                >Contact Me</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="text-center my-5">
        <h2 class="fw-bold">WHAT THEY SAY 💬</h2>
        <h4>Sort Commentaries by Stars</h4>
      </div>
      <div id="stars-buttons">
        <button class="btn btn-dark me-2" onclick="showAll()">All</button>
        <button class="btn btn-dark me-2" onclick="stars(1)">
          1 <i class="fa-solid fa-star fa-fw"></i>
        </button>
        <button class="btn btn-dark me-2" onclick="stars(2)">
          2 <i class="fa-solid fa-star fa-fw"></i>
        </button>
        <button class="btn btn-dark me-2" onclick="stars(3)">
          3 <i class="fa-solid fa-star fa-fw"></i>
        </button>
        <button class="btn btn-dark me-2" onclick="stars(4)">
          4 <i class="fa-solid fa-star fa-fw"></i>
        </button>
        <button class="btn btn-dark me-2" onclick="stars(5)">
          5 <i class="fa-solid fa-star fa-fw"></i>
        </button>
      </div>

      <div
        class="container d-flex flex-wrap gap-3 justify-content-center"
        id="container-testimonials"
      ></div>
    </section>

    <script src="public/js/ajax.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
