.date-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.date-group .input-date {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkbox-group .checkbox-list {
  display: flex;
  flex-direction: row;
}

.checkbox-group .checkbox-list label {
  color: rgb(62, 62, 62);
}

.checkbox-list input {
  width: 20px;
  height: 20px;
  box-shadow: none;
}

.label-image label {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px #c1c1c1;
}

.label-image label p {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(209, 209, 209);
  color: rgb(158, 158, 158);
}

.label-image label i {
  font-size: 20px;
  margin-right: 8px;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* --------------------------styling list project------------------------------------------ */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.pembungkus-container-project {
  padding: 80px;
  background-color: rgb(242, 248, 254);
}

.pembungkus-container-project h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.container-project {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-project .card-project {
  margin: 1em;
  background-color: white;
  padding: 10px;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 7px 10px rgb(158, 158, 158);
  transition: 0.4s ease-out;
}
.container-project .card-project:hover {
  transform: scale(1.03);
}

.container-project .image-project img {
  width: 100%;
  height: 250px;
  margin-bottom: -20px;
  object-fit: cover;
  border-radius: 10px;
}

.container-project .card-project .duration h4:hover {
  color: rgb(96, 96, 96);
}

.container-project .card-project .duration p {
  margin-top: -25px;
  font-size: small;
  color: rgb(96, 96, 96);
}

.container-project .card-project .description {
  font-size: small;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  height: 7em;
  width: 100%;
  margin-top: -20px;
}

.container-project .card-project .icons i {
  font-size: 25px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.container-project .card-project .button-project {
  display: flex;
  justify-content: space-between;
}

.container-project .card-project .button-project button {
  background-color: black;
  color: white;
  padding: 2px 55px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.container-project .card-project .button-project button:hover {
  background-color: white;
  color: black;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* --------------------------styling Responsive------------------------------------------ */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  .container-project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 430px) {
  form {
    width: auto;
    margin: 20px;
  }
  .container-project {
    grid-template-columns: repeat(1, 1fr);
  }
}
