@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
}

body {
  min-height: 1000px;
}

.container-index {
  padding: 1em 2em 0 2em;
  text-align: justify;
}

.container .card img {
  object-fit: fill;
}

.card-project {
  padding: 10px;
  width: 330px;
  height: 450px;
}

.card-title {
  font-size: 13px;
}
.card-duration {
  font-size: small;
  color: rgb(96, 96, 96);
}
/* .card-project .card img {
  width: 100%;
  height: 250px;
} */
